<div class="container">
  <div class="row">
    <div class="col-md-8" *ngIf="!submitted">
      <div class="page-header">
        <h1>
          My profile
        </h1>
      </div>
      <div class="content-wrapper">
        <a class="btn btn-default" (click)="backClicked()">Back</a>
        <table class="table table-bordered table-striped custab">
          <tr>
            <th>Username: {{user.username}}</th>
          </tr>
          <tr>
            <td><p>First Name: <textarea value="{{user.firstname}}" [(ngModel)]="user.firstname"></textarea></p></td>
          </tr>
          <tr>
            <td><p>Last Name: <textarea value="{{user.lastname}}" [(ngModel)]="user.lastname"></textarea></p></td>
          </tr>
          <tr>
            <td><p>Email: <textarea value="{{user.email}}" [(ngModel)]="user.email"></textarea></p></td>
          </tr>
          <tr>
            <td><p>Role: {{role}}</p></td>
          </tr>
        </table>
        <button type="submit" class="btn btn-default" (click)="onSubmit()">Make changes</button>
      </div>
    </div>
    <p *ngIf="submitted">{{result}}</p>
  </div>
</div>